{% extends "admin/base_site.html" %}
{% load url from future %}
{% load staticfiles %}


{% block content %}

<h2> Hier ist Ihre gewünschte Klausur </h2>

<h3>Die PDF-Files</h3>

    <ul>
    <li> Die Gesamtklausur
        <ul>
            <li>   <a href="{% static "komplett.pdf" %}"> Alle Lösungen, dann alle Aufgaben </a>(für alle Schüler) </li>
            <li>   <a href="{% static "aufgaben.pdf" %}"> Alle Aufgaben </a>(für alle Schüler) </li>
            <li>   <a href="{% static "loesungen.pdf" %}"> Alle Lösungen </a></li>
        </ul>
    </li>
    <li> Die einzelnen Varianten </li>
        {%  for i in klausurVarianten  %}
            <a href="{% static i %}" > {{ i }}</a>
            <br>
        {%  endfor  %}
    <li> Die einzelnen Lösungen </li>
        {%  for i in loesungVarianten  %}
            <a href="{% static i %}" >  {{ i }}</a>
            <br>
        {%  endfor  %}
    </ul>

<h3> Die Tex-Files </h3>

    <ul>
    <li> <a href="{% static "klausur.tex" %}"> Klausur Rohfassung</a> </li>
    <li> Die einzelnen Varianten </li>
    <ul>
        {%  for i in texVarianten  %}
        <a href="{% static i %}" >  {{ i }}</a>
            <br>
        {%  endfor  %}
    </ul>
    </ul>


<h2> Debugging </h2>

    <ul>
    <li> Das Permuter-Skript gab folgenden Rückgabewert: {{ permuterRetcode }} (sollte 0 sein) </li>
    <li> <a href="{% static "permuter.out" %}">Ausgabe des permuter-Scripts </a></li>
    <li> <a href="{% static "permuter.err" %}">Fehlermeldungen des permuter-Scripts </a></  li>
    </ul>


{% endblock %}
