{% extends "admin/base_site.html" %}
{% load url from future %}
{% load staticfiles %}


{% block extrahead %}
    {{ block.super }}
    <script>
        $(function() {
            $( "#id_klausurDatum" ).datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+20",
                showOn: "button",
                buttonImage: "{% static 'jquery/development-bundle/demos/images/calendar.gif' %}",
                buttonImageOnly: true});
        });
    </script>

{% endblock %}

{% block content %}

<h2> Geben Sie die Parameter an </h2>

<form action = "makePDF" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="makePDF" value="PDF erzeugen" />


</form>

<h2> Fragen </h2>

Die Klausur wird die Standardfragen {{ stfragenliste }} und die Multiple-Choice-Fragen {{ mcfragenliste }} beinhalten.

{% endblock %}
